@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.story-boxes {
	display: grid;
	margin: auto;
	width: fit-content;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.story-box {
	display: block;
	padding: 30px;
	box-sizing: border-box;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-in-out;
	max-width: 250px;
}

.story-box:hover, .story-box:focus {
	background: #fff6b0;
}

.story-box img {
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.story-boxes {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.story-boxes {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.story-box {
		padding: 20px;
	}
}
