.option{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    width: 70%;
}

.option-unit{
    padding-top: 30px;
}

.audio-icon{
    max-height: 100%;
    margin-right: 10px;
    cursor: pointer;
}