.draw-page {
  position: relative;
}

#stationery {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 65vw;
}

.drawing-box {
  width: 60vh;
  max-width: 100%;
  border: 2px solid black;
  background: #ffffff;
  margin: auto;
  margin-bottom: 80px;
  position: relative;
}

.drawing-box-ratio {
  width: 100%;
  padding-bottom: 100%;
}