#outlineDiv{
    width: calc(0.5* 100vw);
    height: calc(0.7* 100vh);
    background-image: url('./../assets/outlineSample1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid red;
    position: absolute;
    z-index: -1;
}